/*Автоматическое форматирование кода в Visual Studio Code выполняется следующими комбинациями: Shift + Alt + F*/

body {
    background-color: #ebedf0;
    color: #2d81e0;
}

.center {
    text-align: center;
}

.hiden {
    display: none;
}

.test {
    width: 90%;
    height: 350px;
    border: #2d81e0 solid 3px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff;
}

.test1 {
    width: 90%;
    height: 350px;
    border: #2d81e0 solid 3px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff;
}

.test3 {
    width: 95%;
    height: 350px;
    border: #2d81e0 solid 3px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
}

.logo {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 25px;
    font-weight: bold;
    color: #2d81e0;
}

.logo:hover {
    text-decoration: none;
    color: #2d81e0;
}

.logo:visited {
    text-decoration: none;
    color: #2d81e0;
}

.box_search {
    background-color: #ebedf0;
    font-size: 1.2rem;
    border-radius: 10px;
    height: 2.5em;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 3%;
}

.searchbar {
    margin-left: 3%;
    border: none;
    outline:none;
    background-color: #ebedf0;
    width: 100%;
}

.box_music {
    background-color: #ebedf0;
    font-size: 1.2rem;
    border-radius: 10px;
    height: 2.5em;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.music_logo {
    margin: 0 5px;
    font-size: 1.8rem;
}

.btn_box {
    margin: 0 5px;
}

.btn_player {
    border: none;
    color: #2d81e0;
}

.btn_player, 
.btn_player:active, 
.btn_player:focus {
    outline: none;
}

.name_music {
    margin: 0 5px;
}

.name_m {
    margin: 0;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

.menu {
    margin-top: 5%;
}

.menu__elem {
    color: #2d81e0;
    font-size: 1.3rem;
    text-decoration: none;
}

.menu__elem:hover {
    color: #2d81e0;
    text-decoration: none;
}

.menu__elem li:hover {
    background-color: #cccc;
    border-radius: 10px;
}

li {
    list-style-type: none;
    padding: 3%;
}

ul {
    padding-left: 0;
    /* Сдвигаем список влево */
}

.photo {
    padding: 5% 0;
    background-color: #ffffff;
    border-radius: 10px;
}

.main_photo {
    width: 80%;
    border-radius: 8px;
}

.btn_photo {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 50px;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background: #2d81e0;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}

.btn_photo:hover,
.btn_photo:active,
.btn_photo:focus {
    color: #FFF;
    outline: none;
}

.btn_photo:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid rgb(56, 119, 170);
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}

.btn_photo:hover:before,
.btn_photo:active:before,
.btn_photo:focus:before {
    transform: translateX(0);
}

.main_info {
    margin-top: 1em;
    padding: 5% 0;
    background-color: #ffffff;
    border-radius: 10px;
}

/* на sm */
@media (max-width: 1200px) {

    .logo {
        text-align: center;
        font-size: 35px;
    }

    /* стилизуем кнопку */
    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 32px;
        cursor: pointer;
        z-index: 3;
        transition: all .3s ease;
    }

    .menu__btn.out {
        transform: translateY(-100%);
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 2;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #2d81e0;
        font-size: 1.3rem;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
        text-decoration: none;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition-duration: .25s;
    }

    .menu__box {
        transition-duration: .25s;
    }

    .menu__item {
        transition-duration: .25s;
    }

    .menu {
        visibility: hidden;
    }
}

@media (min-width: 768px) {}

/* на md */
@media (min-width: 992px) {

    .logo{
        font-size: 24px;
    }

    .photo {
        margin-top: 1em;
    }
}

/* на lg */
@media (min-width: 1200px) {

    .container {
        max-width: 1340px;
    }

    .box_search{
        margin-top: 5%;
    }

    .box_music {
        margin: 10px;
        font-size: 1.5rem;
    }

    .music_logo {
        font-size: 2.5rem;
        margin-right: 3%;
    }

    /* скрываем гамбургер */
    .hamburger-menu {
        visibility: hidden;
    }

    .menu {
        visibility: visible;
    }

    .photo {
        margin-top: 1em;
    }

    .hiden {
        display: block;
    }
}